.DashboardContainer {
  margin-top: 7rem;
  margin-left: 17rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.graph-heading {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}
.each-graph-container {
  width: 24%;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  margin-bottom: 12px;
  height: auto;
}
.months-container {
  width: 100%;
}
.days-container {
  width: 50%;
}

.graph-percent {
  color: #00ff40;
  font-weight: 800;
  font-size: 36px;
  margin: 0px;
}
.revenue-img {
  height: 8rem;
  width: 8rem;
}
.revenue {
  font-size: 24px;
  font-weight: 800;
  margin: 10px 0px;
}
