.category-header {
  font-size: 24px;
  padding-left: 30px;
  color: #00cdac;
  font-weight: bold;
  padding-right: 50px;
  margin: 12px 0px;
}
.category-selection-container {
  display: flex;
  flex-direction: row;
  width: 82%;
  background-color: #ffffff;
  border-radius: 8px;
  align-items: center;
}
.inventory-error-msg {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 20px;
}
.inventory-table {
  width: 81.5%;
  height: auto;
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;
  background-color: #fff5;
  margin: 1rem 2rem 0rem 17rem;
}
.orders-header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
  background-color: #808080;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}
.update-data-btn {
  padding: 15px;
  border-radius: 7px;
  border-width: 0px;
  font-size: 14px;
  font-weight: 500px;
  color: #000000;
  cursor: pointer;
}
.table-Heading {
  font-size: 36px;
  color: #ffffff;
  padding-left: 12px;
}
.table-body {
  width: 96%;
  background-color: #fffb;
  border-radius: 0.6rem;
  margin: 0.8rem auto;
  overflow-x: scroll;
}
.products {
  display: flex;
  flex-direction: column;
}
#select {
  padding: 10px 45px;
  border: 1px solid #00cdac;
  border-radius: 8px;
  border-radius: 8px;
  color: #02aab0;
}
#select option {
  color: #02aab0;
}
select {
  outline: none;
  border: none;
}

table {
  width: 100%;
  text-align: left;
  border-spacing: unset;
}
tr {
  border-collapse: collapse;
}

th {
  top: 0;
  left: 0;
  background-color: #d5d1defe !important;
  cursor: pointer;
  text-transform: capitalize;
  border-style: none;
  border-collapse: collapse !important;
}
tr:nth-child(even) {
  background-color: #0000000b;
}

th,
td {
  text-align: left;
  padding: 10px;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.1;
  font-size: 14px;
}
@media screen and (max-width: 991px) {
  .table-Heading {
    font-size: 18px;
    font-weight: 700;
  }
  .search-input-container {
    width: 98%;
  }
  .inventory-table {
    margin: 1rem;
    width: 94vw;
  }
  .choose-category-container {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  .orders-header {
    padding: 0rem 1rem;
  }
  .table-Heading {
    margin: 1rem;
  }
  .category-selection-container {
    margin-left: 17rem;
  }
}
@media screen and (max-width: 767px) {
  .inventory-table {
    width: 92vw;
  }
  .category-header {
    font-size: 18px;
    padding-right: 15px;
  }
  .category-selection-container {
    width: 96%;
    justify-content: space-around;
    align-items: center;
  }
  #select {
    padding: 10px 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .category-selection-container {
    width: 96%;
    justify-content: space-around;
    align-items: center;
  }
  .category-header {
    font-size: 36px;
    padding-right: 10px;
  }
  #select {
    padding: 10px 65px;
  }
}
