.all-containers {
  padding: 0px 15px;
  display: flex;
  margin-top: 6.25rem;
  margin-left: 16rem;
  justify-content: space-between;
}

.all-info-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-sizing: border-box;
}
.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: 100%; */
  /* flex-wrap: wrap; */
}
.info-icons {
  color: #66cccc;
  background-color: #ddfdf4;
  height: 30px;
  width: 30px;
  /* padding: 6px; */
  border-radius: 20px;
}
.info-heading {
  color: #b7b6b8;
  font-size: 18px;
  padding-right: 16px;
  margin-top: 8px;
}
.info-answer {
  font-size: 18px;
  color: #00bfff;
  display: flex;
  font-weight: 800;
}

@media (min-width: 992px) {
  .large-devices-container {
    width: 24.2%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .md-devices-container {
    width: 48.5%;
  }
  .all-containers {
    flex-wrap: wrap;
    margin-left: 0px;
    margin-top: 8rem;
  }
}
@media (max-width: 767px) {
  .small-devices-container {
    width: 47%;
    /* margin-left: 5px;
    margin-right: 5px; */
  }
  .info-heading {
    font-size: 16px;
  }
  .info-icons {
    height: 25px;
    width: 25px;
  }
  .info-answer {
    font-size: 24px;
  }
  .all-containers {
    flex-wrap: wrap;
    margin-left: 0px;
  }
}
